@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;    /* reset and global configs */
	padding: 0;
	border: 0;
  font-family: 'Ubuntu', sans-serif;
  height: 1000px
}

body::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color:rgba(0, 0, 0, 0.01);     /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #125c12;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
